<!DOCTYPE html>
<html lang="en-US">
<head>
    <style type="text/css">
        .sticky{
          width: -webkit-fill-available !important;
          /*margin: 0 -1090px;*/
          position: fixed !important;
          background-color: #fff !important;
          box-shadow: 0 3px 8px rgba(33, 33, 33, 0.08) !important;
          height: 84px;
          padding: 0 1200px;
          z-index: 11;
        }
        .sticky .nav-link {
            color: rgba(33, 33, 33, 0.7) !important;
        }
        .sticky .header-brand-title strong {
            color: #212121 !important;
            font-weight: 600;
        }
        .sticky .header-brand-title span {
            color: rgba(33, 33, 33, 0.7) !important;
            font-weight: 400;
            letter-spacing: 1px;
        }
        .sticky .nav-link.nav-btn {
            color: #fff !important;
        }

        @media (max-width: 767px){
            .sticky{
                margin: 0 -1200px;
            }
            #mainHeader .mobileView{
                display: flex !important;
            }
        }
        .categories_drop a .fa{
            color: #ff1d47;
            font-size: 12px;
            margin: 0 6px 0 0;
            width: 16px;
        }
    </style>
</head>
<body>
<div class="header-wrapper" id="mainHeader">
    <div class="header">
        <div class="container{% if fullwidth is defined %}-fluid{% endif %} mobileView">
            <div class="header-brand">
                <a href="{{ path('homepage') }}">
                    <span class="header-brand-image">                        
                       {#  <svg width="40px" height="50px" viewBox="0 0 40 50" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <defs></defs>
                            <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                <g id="logo" transform="translate(-20.000000, -15.000000)" stroke="#FF1D47" stroke-width="3">
                                    <g id="Marker" transform="translate(22.000000, 17.000000)">
                                        <path d="M18,45.2332275 C30,33.8305966 36,24.7932582 36,18.1212121 C36,8.11314302 27.9411255,0 18,0 C8.0588745,0 0,8.11314302 0,18.1212121 C0,24.7932582 6,33.8305966 18,45.2332275 Z" id="Oval"></path>
                                        <ellipse id="Oval-2" cx="18" cy="16.7272727" rx="5.53846154" ry="5.57575758"></ellipse>
                                    </g>
                                </g>
                            </g>
                        </svg> #}
                        
                        {# Your logo #}

                        <img src="{{ asset('bundles/front/img/logo.png') }}" alt="{{ 'TapMaq'|trans }}" class="image-svg">
                        
                    </span><!-- /.header-brand-image -->

                    <span class="header-brand-title">
                        <strong>Tap</strong><span>Maq</span>
                    </span><!-- /.header-brand-title -->
                </a>
            </div><!-- /.header-brand -->

            <div class="header-nav-primary">
                <ul class="nav">
                    <li class="nav-item">
                        <a href="{{ path('homepage') }}" class="nav-link {% if menu_active is defined and menu_active == 'home' %}active{% endif %}">
                            {{ 'Home'|trans }}
                        </a> 
                    </li><!-- /.nav-item -->

                    <li class="nav-item">
                        <a href="{{ path('listing') }}" class="nav-link {% if menu_active is defined and menu_active == 'listings' %}active{% endif %}">
                            {{ 'Listings'|trans }}
                        </a> 
                    </li><!-- /.nav-item -->

                    <li class="nav-item">
                        <a href="{{ path('locations') }}" class="nav-link {% if menu_active is defined and menu_active == 'locations' %}active{% endif %}">
                            {{ 'Locations'|trans }}
                        </a> 
                    </li><!-- /.nav-item -->

                   {#  <li class="nav-item">
                        <a href="{{ path('post') }}" class="nav-link {% if menu_active is defined and menu_active == 'posts' %}active{% endif %}">
                            {{ 'Blog'|trans }}
                        </a> 
                    </li><!-- /.nav-item -->        #}             
                     
                    {% set all_categories  = common_helper.getAllCategories() %}
                    <li class="nav-item dropdown categories_drop">
                        <a href="{{ path('category') }}" class="nav-link dropdown-toggle" data-toggle="dropdown">
                            {{ 'Categories'|trans }}
                        </a> 

                        <div class="dropdown-menu">
                            {% for  category in all_categories %}
                            <a href="{{ path('category_detail', {'slug': category.getSlug()})}}" class="dropdown-item"><span class="fa {{ category.fontIcon }}"></span> {{ category.name }}</a>
                            {% endfor %}
                        </div><!-- /.sub-menu -->
                    </li><!-- /.nav-item -->                    
                   
                </ul><!-- /.nav -->
            </div><!-- /.header-nav-primary -->

            <div class="header-nav-secondary">
                <ul class="nav">
                    {% if not app.user %}
                        <li class="nav-item hidden-sm-down">
                            <a href="{{ path('fos_user_security_login') }}" class="nav-link" data-toggle="modal" data-target="#modal-login">
                                {{ 'Login'|trans }}
                            </a>
                        </li>

                        <li class="nav-item hidden-sm-down">
                            <a href="{{ path('fos_user_registration_register') }}" class="nav-link" data-toggle="modal" data-target="#modal-register">
                                {{ 'Register'|trans }}
                            </a>
                        </li>
                    {% endif %}

                    <li class="nav-item">
                        <a href="{{ path('listing_create')}}" class="nav-link nav-btn">
                            <i class="fa fa-plus"></i> {{ 'Add Listing'|trans }}
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link advanceSearch" style="cursor: pointer;" {# data-toggle="modal" data-target="#searchListing" #}>
                            <i class="fa fa-search fa-lg" aria-hidden="true" style="margin:0;"></i>
                            <!-- {{ 'Search'|trans }} -->
                        </a>
                    </li>
                </ul>
            </div><!-- /.header-nav-secondary -->

            {% if app.user %}
                <div class="header-nav-user">
                    <ul class="nav">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">
                                {% spaceless %}
                                    {% if app.user.profile and app.user.profile.getAvatarName() %}
                                        <img src="{{ vich_uploader_asset(app.user.profile, 'avatarImage') }}" alt="{{ app.user.getProfile().getDisplayName() }}">    
                                    {% else %}
                                        <div class="dropdown-avatar">
                                            {% if app.user.profile %}
                                                {{ app.user.profile.getInitials() }}
                                            {% else %}
                                                {{ app.user.getUsername()|first }}
                                            {% endif %}
                                        </div><!-- /.dropdown-avatar -->
                                    {% endif %}

                                    {% if app.user.getProfile() %}
                                        <span>{{ app.user.getProfile().getDisplayName() }}</span>
                                    {% else %}
                                        <span>{{ app.user.getUsername() }}</span>
                                    {% endif %}
                                {% endspaceless %}
                            </a>

                            <div class="dropdown-menu" aria-labelledby="header-dropdown">
                                {% if app.user.hasRole('ROLE_SUPER_ADMIN') %}
                                    <a class="dropdown-item" href="{{ path('admin_dashboard') }}">{{ 'Admin Dashboard'|trans }}</a>
                                {% endif %}

                                <a class="dropdown-item" href="{{ path('listing_my') }}">{{ 'Listings'|trans }}</a>
								<a class="dropdown-item" href="{{ path('product_my') }}">{{ 'Products'|trans }}</a>
                                <a class="dropdown-item" href="{{ path('favorite') }}">{{ 'Favorites'|trans }}</a>
                                <a class="dropdown-item" href="{{ path('search') }}">{{ 'Searches'|trans }}</a>
                                <a class="dropdown-item" href="{{ path('order') }}">{{ 'Orders'|trans }}</a>                                
                                <a class="dropdown-item" href="{{ path('profile_update') }}">{{ 'Your Profile'|trans }}</a>                                
                                <a class="dropdown-item" href="{{ path('fos_user_change_password') }}">{{ 'Change Password'|trans }}</a>
                                <a class="dropdown-item" href="{{ path('fos_user_security_logout') }}">{{ 'Logout'|trans }}</a>
                            </div>
                        </li>

                        <li class="nav-item shopping-cart">
                            <a href="{{ path('cart') }}" class="nav-link">
                                <i class="fa fa-shopping-cart"></i>

                                <span class="shopping-cart-title">{{ 'Shopping cart'|trans }}</span>

                                <span class="badge">{{ cart_get_count() }}</span><!-- /.badge -->
                            </a><!-- /.nav-link -->
                        </li><!-- /.shopping-cart -->
                    </ul><!-- /.nav -->
                </div><!-- /.header-nav-user -->
            {% endif %}
        </div><!-- /.container -->
    </div><!-- /.header -->

    <div class="header-toggle">
        <span>{{ 'Toggle Navigation'|trans }}</span>
    </div><!-- /.header-toggle -->
</div><!-- /.header-wrapper -->


<!-- Modal -->
<div class="modal fade" id="advanceSearchPopup" role="dialog" data-toggle-dialog="advanceSearchPopup" >
</div>

{% block javascripts %}
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <script >
        var advanceSearch = "{{ path('advance_search') }}";
        $(document).ready(function() {
             
            $('.advanceSearch').click(function (){

                $.ajax({
                    url: advanceSearch,
                    dataType: 'json',
                    type: 'POST',
                    data: '',
                    success : function(result){
                        $('#advanceSearchPopup').html(result.content);
                        $('#advanceSearchPopup').modal('show');
                        $('#advanceSearchPopup .place').append('<span  class="locateMebtn" onclick="replaceCurrentLocation();">Locate me</span>');
                        $('#advanceSearchPopup span.locateMebtn').html('<i class="fa fa-map-marker" style="font-size:25px" title="Get your current location"></i>');
                    },
                });
            });
        });

         window.onscroll = function() {myFunction()};

        var header = document.getElementById("mainHeader");
        var sticky = header.offsetTop;

        function myFunction() {
          if (window.pageYOffset > sticky) {
            header.classList.add("sticky");
          } else {
            header.classList.remove("sticky");
          }
        }

    </script>

{% endblock %}